:root {
  --gridSize: 16px;
}

.adobe-inputGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.prefix {
  display: flex;
  justify-content: flex-end;
  margin-right: .25rem;
  color: rgba(255,255,255,.2);
  width: 2rem;
}

#placeHolder svg {
  width: 2rem;
  height: 2rem;
}

.adobe-grid {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.adobe-gridBlock:hover {
  background-color: var(--colorHover);
  width: calc(var(--gridSize) * 1.25);
  height: calc(var(--gridSize) * 1.25);
}

#place, #gridSet1, #gridSet2, .adobe-gridBlock {
  border: var(--borderWidth) solid var(--colorBorder);
  height: var(--gridSize);
  width: var(--gridSize);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: calc(var(--gridSize) / 10);
  cursor: pointer;
  transition: background-color 200ms var(--quad) 20ms,
              width 160ms var(--quad) 20ms,
              height 160ms var(--quad) 20ms;
}

.adobe-gridBlock img, #place svg, #gridSet1 svg, #gridSet2 svg {
  height: var(--gridSize);
  width: var(--gridSize);
  margin: calc(var(--gridSize) / 10);
}

.adobe-input-2x {
  width: 50%;
}
